.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #fff;

  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;

  padding: 16px 30px;
  width: 140px;
  height: 51px;

  background: $colorMain;
  border: 1px solid $colorMain;
  border-radius: 2px;
  transition-duration: .3s;

  &:hover {
    color: $colorMain;
    border: 1px solid $colorMain;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 8px 3px $colorMain;
  }
  &--transparent {
    background-color: rgba(0, 0, 0, 0);
    color: $colorMain;
  }
  &--pink {
    color: $colorMain;
    border: 1px solid $colorMain;
    background-color: rgba(0, 0, 0, 0);
  }
}

